
html, body{
	font-family: sans-serif;
}
h1, h2, h3{
	padding-top: 0px;
	margin-top: 0px;
}
table {
	font-size: 1em;
}

.clear{
	clear: both;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

.mainContainer{
	padding-bottom: 30px;
	position: relative;
}
.formContainer{
	border: 1px solid #777;
	border-radius: 5px;
	padding: 30px 5px 5px;
	position: relative;
}

.title{
	position: absolute;
	top: -12;
	left: 10;
	z-index: 1;
	background-color: #fff;
}

.title h3{
	margin: 0px 5px;
}

.visOption, .dbOption{
	border: 1px solid #bbb;
	border-radius: 5px;
	padding: 20px 5px 5px;
	position: relative;
    width:45%;
    height: 350;
    float:left;
}

select {
	min-width: 100px;
}
label {
	display: block;
}

.submitContainer {
	text-align: center;
}

#importPanel{
	padding: 5px;
	text-align: center;
	background-color: white;
}

#importPanel {
	padding: 5px;
}
#exportPanel {
	padding: 5px;
	display: none;
}

#visualizer{
	text-align: right;
	margin-bottom: 20px;
	background-color: black;
}
#visualizer a{
	text-decoration: none;
	color: white;
}
#importedData {
    color: red;
}