body, html {
	font-family: sans-serif;
}

#admin{
	text-align: right;
	margin-bottom: 20px;
}
#admin a{
	text-decoration: none;
	color: black;
}

#oldAnnotations p{

}
#annotationsForm{

}

#dateSelect{
	display: block;
}

#start-container{
	float: left;
}
#end-container{
	float: left;
}

.clear{
	clear: both;
}

.hidden{
	display: none;
}
