body, html {
	
	font-family: sans-serif;
	height: 100%;
	
	
}



#admin{
	background-color: black;
	text-align: right;
	margin-bottom: 15px;
	border-radius: 3px;
}
#admin a{
	text-decoration: none;
	color: black;
}

#oldAnnotations p{

}
#annotationsForm{

}

#dateSelect{
	display: block;
}

#checkboxes{
	overflow: hidden;
	padding: 5px;
		background-color: rgb(237, 195, 14);
		border-radius: 3px;
}

.checkbox {
	float: left;
	padding: 5px;
	margin-right: 5px;
}

#start-container{
	float: left;
}
#end-container{
	float: left;
	margin-left: 15px;
}

#go-button {
	float: left;
	margin-left: 15px;
}

#keypressData {
	width : 95%
}

#multiExcludeData {
	width : 95%
}

#multiIncludeData {
	width : 95%
}

#tsharkData {
	width : 95%
}

#screenshotData {
	width : 95%
}

.clear{
	clear: both;
}

.hidden{
	display: none;
}

.swal2-content{
	overflow-y: auto;
	max-height: 500px;
	font-size: 1em;
}
.swal2-content div{
	text-align: left;
	width: 100%;
}
.swal2-content div label, .swal2-content div input[type='text'],.swal2-content div textarea{
	display:block;
	width: 95%;
}

.swal2-content div table{
	border-collapse: collapse;
	width: 100%;
}

.swal2-content div table td{
	border: 1px solid #aaa;
}

#content{
	/*height:auto !important;
	min-height:100%;*/
	padding-bottom: 25px;
	/*border: 1px solid black;*/
	background-color: rgb(230, 230, 230);
	border-radius: 3px;
	position:relative;
	
}

#footer {
	position:fixed;
	bottom:0;
	left:0;
	background-color: #fff;
	width: 100%;
	height: 20px;
}

.dateSelect{
	float: left;
	/*position: static;*/
	padding-left: 15px;
	width: 100%;
}

.tech-eventBoxes {
	float: left;
	/*position: static;*/
	padding-top: 10px;
	width: 100%;
}

.go-exportButtons{
	display: inline-block;
	/*position: relative;*/
	white-space: nowrap;
	padding-top: 10px;
	width: 100%;
	left: 40%;
	right: 50%;
}

#filterSearch {
	float: left;
	/*position: static;*/
	padding-top: 5px;
	padding-left: 10px;
	width: 100%;
	padding-bottom: 10px;
}

.button {
	background-color: rgb(57, 57, 57);
	font-size: 15px;
	color:white;
	border: none;
	padding: 5px 10px;
	border-radius: 3px;
	transition-duration: 0.4s;
}

.button:hover{
	background-color: rgb(237, 195, 14);
	color: black;
}

.textInput {
	border-radius: 0px;

}

input[type=text] {
	border-radius: 0px;
	background-color: white;
	height: 25px;
	width: 190px;
}

.timeline {
	background-color: white;
	float: center;
	/*position: relative;*/
	border-radius: 3px;
	left: 2%;
	top: 2%;
	bottom: 2%;

}

.background {
	background-color: rgb(57, 57, 57);
	border-radius: 3px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-top: 1px;
}

input[type=checkbox]{

}

h3 {
	color: white;
}

hr {
	border-color: white;
	color: white;
}

.vis-item.annotation {
	color: black;
	background-color: #d5f6d5;
	border-color: #96f896;
}

.filterHide{
	display: none !important;
}
.search{
	background-color: #f6ddd5 !important;
	border-color: #f8ae96 !important;
}

#loading {
	/*position: relative;*/
	white-space: nowrap;
	padding-top: 10px;
	width: 100%;
	left: 40%;
	right: 50%;
}
