body, html {
	font-family: sans-serif;
}

#admin{
	text-align: right;
	margin-bottom: 20px;
}
#admin a{
	text-decoration: none;
	color: black;
}

#oldAnnotations p{

}
#annotationsForm{

}

#dateSelect{
	display: block;
}

#start-container{
	float: left;
}
#end-container{
	float: left;
}

#keypressData {
    width : 95%
}

#multiExcludeData {
    width : 95%
}

#multiIncludeData {
    width : 95%
}

#tsharkData {
    width : 95%
}

.clear{
	clear: both;
}

.hidden{
	display: none;
}

.sweet-alert{
    box-sizing : border-box;
    max-height : 90% !important;
    /*overflow-y : auto !important;*/
    padding : 0 17px 17px !important;
    width : 512px;
}
.sweet-alert:before {
    content : "";
    display : block;
    height : 17px;
    width : 0;
}
.sweet-alert p{
	max-height: 500px !important;
	overflow: auto !important;
	border: 1px solid #eee;
}

#footer {
 position:fixed;
 bottom:0;
 left:0;
}