<!DOCTYPE HTML>
<html>
<head>
	<title>Timeline | External data</title>

	<style type="text/css">
	body, html {
		font-family: sans-serif;
	}
	</style>
	<!-- Load jquery for ajax support -->
	<script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/annotation.js"></script>
<SCRIPTS GO HERE>
</head>
<body>
	<p>
		<a href="admin.html">Edit Plug-Ins</a>
	</p>
	<div id="keypressData"></div>
	<div id="loading">loading...</div>
	<div id="currentItem"></div>
	<form id="annotationsForm">
		<div>
			<label id="annotationLabel" for="annotation">Please select an object first</label>
		</div>
		<div>
			<textarea id="annotation" name="annotation" rows="5" columns="1000" disabled></textarea>
		</div>
		<input type="hidden" id="objID" name="objID" val=""/>
		<input type="submit" id="submitAnnotation" name="Submit" disabled/>
	</form>
</body>
</html>
